@font-face {
  font-family: 'Share Tech';
  font-style: normal;
  font-weight: 400;
  src: local('Share Tech'), local('ShareTech-Regular'), url(/fonts/ShareTech-Regular.woff2) format('woff2'), url(/fonts/ShareTech-Regular.ttf) format('truetype');
}

#footer-nav-links a, #header-nav-links a {
  color:$nav-link-color;

  &:visited {
    color:$nav-link-color;
  }

  &:hover {
    color:$nav-link-hover;
  }
}