@font-face {
  font-family: 'Share Tech';
  font-style: normal;
  font-weight: 400;
  src: local('Share Tech'), local('ShareTech-Regular'), url(/fonts/ShareTech-Regular.ttf);
}

#footer a{
  color:$nav-link-color;

  &:visited {
    color:$nav-link-color;
  }
}